{% extends 'base_logado.html' %}
{% load static %}

{% block title %}Início{% endblock %}

{% block body_class %}home-body{% endblock %}

{% block content %}
<main class="home-content">
    <h1 class="main-title">Bem vindo ao FastHealthy</h1>
    <p class="subtitle">Uma plataforma simples para gerenciar saúde com praticidade e tecnologia</p>
    
    <div class="action-buttons">
        <a href="{% url 'diagnostico' %}" class="action-button login-btn">NOVO DIAGNÓSTICO</a>
        <a href="{% url 'historico_diagnosticos' %}" class="action-button cadastro-btn">VER HISTÓRICO</a>
    </div>
</main>
{% endblock %}
